.propPicker {
  position: relative;
  display: flex;
  flex-direction: row;
  outline: 1px solid var(--border-color);
  border-radius: 5px;
  outline-offset: -1px;
  height: 94px;
  cursor: pointer;
}

.propPicker.has-prop {
  outline-color: var(--input-active-border-color);
}

.propPicker.open {
  border-radius: 5px 5px 0 0;
  outline-color: var(--input-active-border-color);
}

.propPicker_input-overflow {
  overflow: hidden;
  flex-grow: 1;
}

.propPicker_input-container {
  position: relative;
  height: 40px;
  width: auto;
  flex-grow: 1;
  transition: all 0.3s ease;
}

.propPicker.closed.has-prop:hover .propPicker_input-container {
  opacity: 1;
  transform: translateY(0);
}

.propPicker.closed.has-prop .propPicker_input-container {
  transform: translateY(-100%);
  opacity: 0;
}

.propPicker label {
  font-size: 16px;
  position: absolute;
  padding: 0em 0.2em;
  left: 0;
  top: 0;
  margin-left: 16px;
  margin-top: 9px;
  pointer-events: none;
  transition: all 0.2s ease;
  color: var(--input-unactive-font-color);
}

.propPicker.has-prop label,
.propPicker.open label {
  font-size: 13px;
  margin-left: 28px;
  margin-top: -8px;
  background-color: #ffffff;
  color: var(--input-unactive-font-color);
}

.propPicker_input {
  font-family: var(--font-inter);
  color: var(--font-primary);
  font-size: 16px;
  text-indent: 16px;
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  width: 100%;
}

.propPicker_input.open {
  border-radius: 5px 5px 0 0;
  border-color: var(--input-active-border-color);
  border-bottom: 1px solid transparent;
}

.propPicker_icon {
  position: absolute;
  top: 6px;
  right: 18px;
  width: 30px;
  height: 30px;
  fill: var(--font-primary);
  cursor: pointer;
  transition: fill 0.05s ease;
}


.propPicker_icon.delete-icon.deletable {
  fill: red;
}

.propPicker_selected-container {
  overflow: hidden;
  position: absolute;
  top: 42px;
  left: 16px;
  right: 16px;
  bottom: 1px;
  transition: top 0.3s ease;
}

.propPicker_selected-container.open {
  bottom: -23px;
  z-index: 4;
  overflow-y: auto;
}

.propPicker.closed.has-prop:hover .propPicker_selected-container {
  top: 42px;
}

.propPicker.closed.has-prop .propPicker_selected-container {
  top: 16px;
}

.propPicker_selected-props {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 8px;
  column-gap: 8px;
}

.propPicker_menu {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  background-color: #FFF;
  border: 1px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 1;
  display: none;
  height: 200px;
}

.propPicker_menu.open {
  display: block;
  z-index: 3;
  border-color: var(--input-active-border-color);
}

.propPicker_menu hr {
  margin: 0 12px;
}

.propPicker .propPicker_hr {
  margin-top: 30px;
}

.propPicker_menu-container {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  margin: 10px 0;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.propPicker_menu-props {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 8px;
  flex-direction: row;
  row-gap: 8px;
  column-gap: 8px;
}